<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    
    <div class="instructions">
      <li>1) Simply type a name into the the name field and click add.</li>
      <li>2) Repeat until you have added all desired names into the list.</li>
      <li>3) Then enter the number of teams you want to create.</li>
      <li>4) Click Generate!</li>
    </div>
    
    <ul class="list">
      <li *ngFor="let member of members">{{member}}</li>
    </ul>
    
    <div class="add-members-container">

      <input 
      #addMemberInput
      type="text" 
      placeholder="Name"
      (input)="onInput(addMemberInput.value)"
      [value]="newMemberName">
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input 
      #numberOfTeamsInput
      type="number" 
      placeholder="# of teams"
      (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
      [value]="numberOfTeams">
      <button (click)="generateTeams()">Generate!</button>
    </div>

    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    
  </div>

  <div *ngIf="teams.length" class="teams-container">
      <app-team
        *ngFor="let team of teams; let i = index"
        [team]="team"
        [index]="i"
        >
        </app-team>
  </div>

</div>